.complityButton{
    width: 75px;
    margin-top: 3px;
}
.buttons-numbers{
    padding: 70px 0;
    text-align: center;
}

html, body{ height: 100%; }

body{
    display: flex; 
    align-items: center;
    background-image: url('https://hdwallsource.com/img/2014/4/free-background-wallpaper-22918-23554-hd-wallpapers.jpg');
}

.row{ justify-content: center; }